@{
  Layout = "_Layout";
}
@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Treat>
<h1>Treats</h1>
@if (@Model.Any())
{
  @foreach (var treat in Model)
  {
    <li>@Html.ActionLink($"{treat.Name}", "Details", new {id = treat.TreatId})</li>
  }
}
else
{
  <h3>No treats available!</h3>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add New Treat", "Create")</p>