@{
  Layout = "_Layout";
}
@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Flavor>
<h1>Flavors</h1>
@if (@Model.Any())
{
  @foreach (var flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Name}", "Details", new {id = flavor.FlavorId})</li>
  }
}
else
{
  <h3>No flavors have been added yet!</h3>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Create New Flavor", "Create")</p>