@{
  Layout = "_Layout";
}
@using PierresTreats.Models;
@model IEnumerable<PierresTreats.Models.Flavor>
<h1>Flavors</h1>
@if (@Model.Any())
{
  @foreach (Flavor flavor in Model)
  {
    <li>@flavor.Name</li>
  }
}
else
{
  <h3>No flavors have been added yet!</h3>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>